html,
body {
	overflow-x: hidden;
}

:root {
	// Hex Colors
	--red-button: #d7050e;
	--red-arrow: #9f040b;
	--red-footerheader: #d8040e;
	--logo-red: #d8040e;
	--font-gray: #848484;
	--hero-gray: #f4f4f4;
	--hero-gray-transp: rgba(244, 244, 244, 0.8);
}
