* {
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('assets/fonts/roboto/Roboto-Regular.ttf');
}
:root {
	// Hex Colors
	--red-button: #d7050e;
	--red-arrow: #9f040b;
	--red-footerheader: #d8040e;
	--logo-red: #d8040e;
	--font-gray: #848484;
}
