.hero__container {
	background-color: var(--hero-gray);
}

.hero__container__row {
	width: auto;

	&__col__one {
		// background-color: #fff;
		margin: 0;
		padding: 0 0 0 0;
		width: 845px;
		// border: 1px solid #000;
	}

	&__col__two {
		// border: 1px solid #f1f;
		background-color: #000000;
		margin: 0;
		padding: 0;
		width: 349px;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
			url('assets/qimage.png');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;

		& button {
			position: absolute;
			top: 1.3rem;
			right: 1rem;
			width: 5.7rem;
			height: 1.8rem;
			border-radius: 2px;
			padding: 0;
			font-size: 0.8rem;
			background-color: var(--red-button);
		}

		& button:last-child {
			position: absolute;
			top: 13.4rem;
			right: 9.8rem;
			width: 10.5rem;
			height: 2.5rem;
			background-color: #000;
			text-align: left;
			font-size: 1.125rem;
			letter-spacing: 1.1px;
			border: none;
			padding: 0 0 0 0.9rem;
		}

		&__caption {
			position: absolute;
			top: 10.7rem;
			left: 0.8rem;
			color: white;

			& p {
				text-align: left;
				font-size: 0.9rem;
				color: var(--logo-red);
				padding: 0;
				margin: 0 0 0 0;
				line-height: auto;
			}

			& p:nth-child(3) {
				text-align: left;
				font-size: 1.2rem;
				width: 13rem;
				color: white;
				margin-top: 0.5rem;
				line-height: 1.6rem;

				& span {
					font-size: 1.5rem;
				}
			}

			& h3 {
				text-align: left;
				font-size: 36px;
				padding: 0;
				margin: 0;
			}
		}
	}
}

.hero__container__carousel {
	min-height: 478px;

	&__item {
		background-color: var(--hero-gray);
		position: relative;
		height: 478px;

		& h2 {
			position: absolute;
			font-size: 12rem;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			// opacity: 20%;
			color: white;
			// z-index: 1;
		}
	}

	&__row {
		width: 100%;
		// z-index: 1000;

		&__col__one {
			width: 60%;
			background-color: var(--hero-gray-transp);
			& img {
				height: 288px;
				margin-top: 6.9rem;
				margin-left: 1.9rem;
			}
		}

		&__col__two {
			position: relative;
			background-color: var(--hero-gray-transp);

			&__caption {
				position: absolute;
				top: 11.4rem;
				left: 1rem;
				width: 90%;
				text-align: left;
				padding: 0;

				& h3 {
					font-size: 2.2rem;
					letter-spacing: 0.1px;
					padding: 0;
					margin: 0;
				}

				& p {
					margin: 0 0 0 0;
					padding: 0;
					font-size: 1.3rem;
				}

				& button {
					background-color: var(--red-button);
					width: 7rem;
					margin: 1.2rem 0 0 0;
					height: 2.7rem;
					border-radius: 0.1px;
					font-size: 0.8rem;
					font-weight: 600;
				}
			}
		}
	}
}
