.sec__three {
	margin: 4.7rem 0 0 0;
	padding: 0 0 8.4rem 0;
	text-align: left;

	&__header {
		margin: 0 0 2.5rem 4.1rem;
		padding: 0;
		text-align: left;
		// border: '1px solid #000';
	}

	& .carousel__container {
		position: relative;
	}

	& .carousel-control-prev {
		// background-color: #000000;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 14.1%;
		background: url('assets/Layer77.png');
		// border: 1px solid #000000;
	}

	& .carousel-control-next {
		// background-color: #000000;
		// border: 1px solid #000000;
		position: absolute;
		width: 13.6%;
		top: 0;
		right: 0;
		margin: 0;
		background: url('assets/Layer78.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__carousel__item {
		max-width: 71.2%;
		width: 71.2%;

		position: relative;
		// width: 910px;
		// width: 100%;
		// max-width: 1000px;
		height: 487px;
		margin: 0 14.3% 0 14.3%;
		left: 0;
		&__col__one {
			height: 487px;

			// width: 650px;
			min-width: 69.5%;
			// border: '10px solid #0f0';
			padding: 0;
			background: url('assets/Layer73.png');
			background-repeat: no-repeat;
			background-size: cover;

			& .container {
				position: absolute;
				top: 17rem;
				left: 1.5rem;
				margin: 0;
				padding: 0;
				// border: 1px solid white;
				width: 53%;
				color: white;

				& h3 {
					letter-spacing: 1.3px;
					margin: 0 0 1.3rem 0;
				}

				& p {
					letter-spacing: 0.3px;
					margin: 0;
					// border: 1px solid white;
					padding: auto;
				}

				& p:first-child {
					margin: auto;
					// border: 1px solid white;
					padding: 0;
				}

				& p:last-child {
					font-size: 0.8rem;
					// border: none;
					padding: 0.75rem 0 0 0;
				}

				& hr {
					width: 9.8%;
					height: 4px;
					margin: 0.7rem 0 0 0;
					background-color: white;
					// border: 1px solid #fe1;
				}
			}
		}

		&__col__two {
			// border: '1px solid #0f0';
			min-width: 5%;
			padding: 0;
			// margin: '0';
			background: url('assets/Layer76.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;

			& .container-fluid {
				margin: 0;
				padding: 0;
				position: relative;
			}

			& .container {
				position: absolute;
				top: 23rem;
				left: 1rem;
				padding: 0;
				color: white;
				width: 88%;

				& h3 {
					font-size: 1.2rem;
					letter-spacing: 0.7px;
					line-height: 1.5rem;
					font-weight: 600;
				}

				& p {
					font-size: 0.8rem;
				}
			}
		}
	}
}
