html,
body {
  overflow: hidden; }

* {
  font-family: 'Roboto', sans-serif; }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("assets/fonts/roboto/Roboto-Regular.ttf"); }

:root {
  --red-button: #d7050e;
  --red-arrow: #9f040b;
  --red-footerheader: #d8040e;
  --logo-red: #d8040e;
  --font-gray: #848484; }

.navbar {
  height: 9rem;
  padding: 0;
  display: block;
  position: relative;
  background-color: #000; }

.navbar-nav {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem; }

.nav-item {
  text-align: left;
  margin: 0 0.3rem 0 0;
  color: #fff; }
  .nav-item a {
    font-size: 0.9rem;
    color: #fff !important;
    letter-spacing: 0.15rem; }

.shopping-cart-nav {
  margin: 0.25rem 0 0 0;
  color: #fff !important; }

.navbar-collapse {
  padding: 0;
  margin: 6.2rem auto 0 auto;
  border-top: 1px solid gray; }

.header__search__form {
  width: auto;
  margin: 0 auto 0 auto;
  display: flex; }
  .header__search__form input {
    width: 27.5rem;
    font-size: 1.28rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    position: absolute;
    top: 2rem;
    left: 22.5rem;
    padding: 0 0 0.5rem 0;
    letter-spacing: 0px; }
  .header__search__form button {
    background-color: red;
    color: white;
    position: absolute;
    right: 5rem;
    top: 2rem;
    font-size: 0.8rem;
    width: 9.7rem;
    border-radius: 0.25rem;
    border: none; }
  .header__search__form img {
    position: absolute;
    top: 1.2rem;
    left: 5.1rem; }

.sec__three .carousel__container {
  position: relative; }

.sec__three .carousel-item {
  position: relative;
  width: 910px;
  height: 487px;
  margin: 0 0 0 12rem;
  left: 0; }

.sec__three .carousel-control-prev {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 11.25rem;
  background: url("assets/Layer77.png"); }

.sec__three .carousel-control-next {
  position: absolute;
  width: 10.3rem;
  top: 0;
  right: 0;
  margin: 0;
  background: url("assets/Layer78.png"); }

.sec__three .carousel-control-next-icon,
.sec__three .carousel-control-prev-icon {
  background-color: #000000 !important; }

.hero__container__row .col__two {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 349px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("assets/qimage.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }
  .hero__container__row .col__two button {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    width: 5.7rem;
    height: 1.8rem;
    border-radius: 2px;
    padding: 0;
    font-size: 0.8rem;
    background-color: var(--red-button); }
  .hero__container__row .col__two button:last-child {
    position: absolute;
    top: 13.4rem;
    right: 9.8rem;
    width: 10.5rem;
    height: 2.5rem;
    background-color: #000;
    text-align: left;
    font-size: 1.125rem;
    letter-spacing: 1.1px;
    border: none;
    padding: 0 0 0 0.9rem; }
  .hero__container__row .col__two__caption {
    position: absolute;
    top: 10.7rem;
    left: 0.8rem;
    color: white; }
    .hero__container__row .col__two__caption p {
      text-align: left;
      font-size: 0.9rem;
      color: var(--logo-red);
      padding: 0;
      margin: 0 0 0 0;
      line-height: auto; }
    .hero__container__row .col__two__caption p:nth-child(3) {
      text-align: left;
      font-size: 1.2rem;
      width: 13rem;
      color: white;
      margin-top: 0.5rem;
      line-height: 1.6rem; }
      .hero__container__row .col__two__caption p:nth-child(3) span {
        font-size: 1.5rem; }
    .hero__container__row .col__two__caption h3 {
      text-align: left;
      font-size: 36px;
      padding: 0;
      margin: 0; }

.sec__one {
  width: 1110px;
  height: 1008px;
  padding: 0;
  margin: 2.55rem auto 0 5.3rem;
  text-align: left; }
  .sec__one__products {
    border: 1px solid var(--font-gray);
    padding: 0 0 0 0; }
  .sec__one__nav {
    margin: 2.7rem 0 0 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid var(--font-gray);
    border-bottom: 1px solid var(--font-gray); }

.sec__one__row {
  padding: 0;
  margin: 0; }
  .sec__one__row__col__one {
    padding: 0;
    margin: 1.75rem 0 0 0rem;
    width: 730px;
    background: url("assets/Layer124.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; }

.sec__one__cont__one {
  width: 350px;
  height: 263px;
  margin: 1.75rem 0 0 1.2rem;
  background: url("assets/Layer43.png");
  background-size: cover;
  background-repeat: no-repeat; }

.sec__one__cont__two {
  width: 350px;
  height: 264px;
  margin: 1.9rem 0 0 1.2rem;
  background: url("assets/Layer44.png");
  background-size: cover;
  background-repeat: no-repeat; }

.sec__one__row__one__caption {
  color: white;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  width: 25rem;
  height: 10rem; }
  .sec__one__row__one__caption p {
    color: var(--font-gray); }
  .sec__one__row__one__caption hr {
    background-color: #fff;
    height: 0.2rem;
    width: 45%; }
  .sec__one__row__one__caption div {
    width: 18rem; }

.sec-one-header {
  padding: 0; }
  .sec-one-header h2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 15rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 27px; }

.sec__two {
  width: 1110px;
  height: 1008px;
  padding: 0;
  margin: 5rem auto 0 5.3rem;
  text-align: left; }

.sec__two__row__col__one {
  padding: 0;
  margin: 0.85rem 0 0 0.65rem;
  width: 730px;
  background: url("assets/Layer128.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center; }

.sec__two__cont__one {
  width: 350px;
  height: 263px;
  margin: 0.9rem 0 0 1.2rem;
  background: url("assets/Layer129.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.sec__two__cont__two {
  width: 350px;
  height: 264px;
  margin: 1.7rem 0 0 1.2rem;
  background: url("assets/Layer130.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.sec__two__row__one__caption {
  background-color: #000000;
  color: white;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  width: 25rem;
  height: 10rem; }
  .sec__two__row__one__caption p {
    color: var(--font-gray); }
  .sec__two__row__one__caption hr {
    background-color: #fff;
    height: 0.2rem;
    width: 45%; }

.sec__three {
  margin: 4.7rem 0 0 0;
  padding: 0 0 8.4rem 0;
  text-align: left; }
  .sec__three__header {
    margin: 0 0 2.5rem 4.1rem;
    padding: 0;
    text-align: left; }
  .sec__three__carousel__item {
    width: 100%; }
    .sec__three__carousel__item__col__one {
      height: 487px;
      min-width: 70%;
      padding: 0;
      background: url("assets/Layer73.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .sec__three__carousel__item__col__one .container {
        position: absolute;
        bottom: 3rem;
        left: 1rem;
        margin: 0;
        padding: 0; }
    .sec__three__carousel__item__col__two {
      min-width: 5%;
      padding: 0;
      background: url("assets/Layer76.png");
      background-repeat: no-repeat;
      background-size: cover; }
      .sec__three__carousel__item__col__two .container-fluid {
        margin: 0;
        padding: 0;
        width: 800px;
        position: relative; }
      .sec__three__carousel__item__col__two .container {
        position: absolute;
        bottom: 1rem;
        left: 0;
        padding: 0; }

.footer {
  padding: 0;
  margin: 0; }
  .footer__header {
    text-align: left;
    padding: 2.6rem 0 0 10.5rem;
    background-color: var(--red-footerheader);
    height: 8.15rem;
    margin: 0; }
  .footer__menu {
    padding: 1.5rem 0 1rem 0;
    text-align: left;
    background-color: #000000;
    color: white; }
    .footer__menu h3 {
      font-size: 0.8rem; }
    .footer__menu ul {
      list-style-type: none;
      padding: 0; }
      .footer__menu ul li {
        margin: 0;
        padding: 0;
        overflow: hidden; }
    .footer__menu .col {
      padding: 0 0 0 4rem; }
  .footer__social {
    padding: 0;
    margin: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #000000;
    color: white;
    height: 5.7rem; }
    .footer__social__buttons ul {
      list-style-type: none; }
    .footer__social__buttons li {
      display: inline-block; }
    .footer__social h3 {
      font-size: 1rem; }
  .footer__copy {
    padding: 1rem 0 0 0;
    margin: 0;
    text-align: left;
    background-color: #000000;
    color: white;
    font-size: 0.8rem;
    text-align: center; }
    .footer__copy ul {
      list-style-type: none; }
      .footer__copy ul li {
        display: inline-block;
        margin: 0 0.5rem 0 0;
        border-right: 1px solid gray;
        padding: 0 1rem 0 1rem; }
      .footer__copy ul li:last-child {
        border-right: none; }
